* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Barra navegación*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:#2b1511 ;
  color: white;
}

.logo{
  max-height: 80px;
  width: auto;
  object-fit: contain;
}


.menu-icon {
  display: none; /* Ocultar el icono por defecto en pantallas grandes */
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-left: 1rem;
}

/* Media query para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block; /* Mostrar el icono en pantallas pequeñas */
  }

  .logo{
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

  .nav-menu {
    display: none; /* Ocultar el menú por defecto en pantallas pequeñas */
    flex-direction: column;
    position: absolute;
    top: 70px; /* Ajustar según la altura de tu navbar */
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  .nav-menu.active {
    display: flex; /* Mostrar el menú cuando tenga la clase 'active' */
  }

  .nav-menu li {
    margin: 1rem;
    text-align: center;
    color: black;
  }
}
